@charset "UTF-8";
/*
  Bonjour je n'ais pas Compass. Voir explication sur fichier joint: explication.txt ou readme.md
  * Dans ce fichier,je choisie de centralisez .(mais importations)
  * Importez ce fichier en utilisant le code HTML suivant ou équivalent :
  * <link href="stylesheets/style2.css" media="screen, projection" rel="stylesheet" type="text/css" />
  *
  Comende utiliser pour sincro sass 
  *COMENDE: sass --watch sass/style2.scss:stylesheets/style2.css --style==expanded
  *
  * importation
  *respectent les comentaire du fichier style.css fournie pour l'exercice.
  ______________________________________________________________________________________________________
*/
/* Fichier reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  /*Provien de reset.scss */
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  /*Provien de reset.scss */
  line-height: 1; }

ol, ul {
  /*Provien de reset.scss */
  list-style: none; }

table {
  /*Provien de reset.scss */
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  /*Provien de reset.scss */
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  /*Provien de reset.scss */
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  /*Provien de reset.scss*/
  content: "";
  content: none; }

a img {
  /*Provien de reset.scss*/
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  /*Provien de reset.scss */
  display: block; }

/*fin de reset.scss*/
/* Le fichier globale contien:
* MON VARIBLE COULEUR 
* Et mise enpage globale*/
html {
  /*Provien Global.scss*/
  font-size: 1.25em; }

body {
  /*Provien Global.scss*/
  line-height: 1.2rem;
  background: #ededed; }
body .wrapper {
  /*Provien Global.scss*/
  width: 95%;
  max-width: 1550px;
  margin: 0 auto;
  background: #fff; }

a {
  /*Provien Global.scss*/
  color: #ae2123;
  text-decoration: none; }
a:hover {
  color: #999; }

img {
  /*Provien Global.scss*/
  max-width: 100%; }

/* fin fichier global.scss */
/*Les diferente police de caractere*/
html {
  /*Provien typo.scss*/
  font-size: 1.25em; }

body {
  /*Provien typo.scss*/
  font-family: "BenchNine", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem; }

h1, .h1 {
  /*Provien typo.scss*/
  font-size: 3rem;
  line-height: 1.5rem;
  margin-top: 3rem;
  margin-bottom: 1.5em; }

h2, h2 {
  /*Provien typo.scss*/
  font-size: 2.4rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

h3, .h3 {
  /*Provien typo.scss*/
  font-size: 1.35rem;
  line-height: 1.3rem;
  margin-top: 0.5em;
  margin-bottom: 1em; }

p, ul, ol {
  /*Provien typo.scss*/
  line-height: 1.5rem;
  margin-top: 0.5em;
  margin-bottom: 1em; }

/*Supresion marge haute et bas 
**créer dans typo.scss */
ul ul, ol ol, ul ol, ol ul, .no-margin {
  /*Provien typo.scss*/
  margin-top: 0em;
  margin-bottom: 0em; }

/*fin typos scss*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem; }

.header-title {
  padding-right: 1rem;
  margin: 0; }

.menu {
  background: #543973;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  border-radius: 1em; }
.menu .menu-item a {
  background: #3B2851;
  color: white;
  padding: 10px 20px;
  margin: 1px 0px;
  display: block; }
.menu .menu-item a:hover {
  background: #6d4a95;
  color: #d4c7e4; }

/* fin de hearder.scss */
/* fichier  main */
main {
  /*Provien main.scss*/
  background: #fff;
  padding-top: 1.5rem; }

.row {
  /*Provien main.scss*/
  display: flex;
  justify-content: space-evenly;
  margin-top: 1.5rem; }

.article {
  /*Provien main.scss*/
  flex: 0 0 44%; }
.article .bt {
  /*Provien main.scss*/
  display: inline-block;
  text-align: center;
  justify-content: center;
  vertical-align: middle; }
.article .bt a {
  /*Provien main.scss*/
  color: #fff;
  display: block;
  background: #3B2851;
  padding: .375rem .75rem;
  border-radius: .25rem; }
.article .bt a:hover {
  /*Provien main.scss*/
  color: #cccccc;
  background: #6d4a95; }

.containerVignettes {
  /*Provien main.scss*/
  padding: 1.5rem;
  box-shadow: -1px -1px 20px 10px #ededed; }

.vignette {
  /*Provien main.scss*/
  position: relative;
  flex: 0 0 29%; }
.vignette:hover .vignette-figcaption {
  /*Provien main.scss*/
  display: block; }
.vignette .vignette-figcaption {
  /*Provien main.scss*/
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.7);
  display: none;
  columns: #ededed;
  padding: 1rem; }

/* fain ficchier main.scss*/
.main-footer {
  padding: 1rem;
  margin-top: 1.5rem;
  text-align: center;
  justify-content: center; }

/*# sourceMappingURL=style2.css.map */
